@model IEnumerable<Product>

<h1>Products</h1>
<p>
    <a class="btn btn-primary" asp-controller="Product" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Price</th>   
            <th>Product Description</th>
            <th>Product Stock</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var product in Model){
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
                <td>@product.Stock</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                    <a class="btn btn-danger" asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                </td>   
            </tr>
        }
    </tbody>
</table>